.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  width: 80%;
}

.inputDiv h1 {
  margin-bottom: 30px;
}
.form button {
  margin-top: 30px;
}
